<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                <dx-chart id="chart" [dataSource]="dataSource">

                    <ng-container *ngFor="let item of series">
                        <dxi-series [valueField]="item.Field" [name]="item.FieldName" type="bar">
                        </dxi-series>
                    </ng-container>

                    <dxo-common-series-settings [argumentField]="argumentField.name" type="bar">
                    </dxo-common-series-settings>

                </dx-chart>
            </div>
        </div>
    </div>
</div>