<!-- <app-product></app-product> -->
<!-- <router-outlet></router-outlet> -->


<!-- <form [formGroup]="myForm">

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">make</label>
        <input type="text" formControlName="make"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">model</label>
        <input type="text" formControlName="model"  class="form-control" id="exampleInputPassword1">
    </div>


    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">price</label>
        <input type="text" formControlName="price"  class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary" (click)="onsubmit()">Submit</button>
</form> -->



<router-outlet></router-outlet>