.header {
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
        0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    background-color: #4e248d;
}

.main {
    display: flex;
    height: 100%;
}

.main-content:not(.movable-main-content) {
    height: calc(100% - 70px);
    width: calc(100% - 68px);
    margin-top: 70px;
    transition: margin-right 0.5s ease-in-out;
    margin-right: 4.2rem;
}

.footer {
    width: 100%;
    height: 30px;
    margin-top: 100px;
    background-color: #090f0f;
}


@media (max-width: 767.98px) {
    .movable-main-content .main-content {
        width: 100%;
        margin-right: 0;
        transition: margin-right 0.5s ease-in-out;
    }
}

@media (min-width: 768px) {
    .movable-main-content .main-content {
        width: calc(100% - 303px);
        margin-right: 18.9rem;
        transition: margin-right 0.5s ease-in-out;
    }
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon-o {
    color: pink;
}

.fa-sun-o {
    color: yellow;
}
